body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: #000;
   color: #fff;
   text-align: center;
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-position: center center;
   --webkit-scrollbar-orient: vertical;
}

.App {
   text-align: center;
   height: 100%;
}

::-webkit-scrollbar {
   width: 20px;
}

::-webkit-scrollbar-track {
   border-radius: 10px;
   background-color: #000;
}

::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background-color: orangered;
}

.todo-card {
   border-right: 1px solid rgb(255, 68, 0);
}
